@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/source-sans/SourceSansPro-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/source-sans/SourceSansPro-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/source-sans/SourceSansPro-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url('../../assets/source-sans/SourceSansPro-Italic.ttf') format('ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: url('../../assets/source-sans/SourceSansPro-SemiBoldItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    src: url('../../assets/source-sans/SourceSansPro-BoldItalic.ttf') format('ttf');
}