@media screen and (max-width: 768px) {
  .footer {
    &-nav {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      text-align: center;
    }

    &-logo {
      order: 1;
    }

    &-address {
      order: 2;
      margin: 0 auto;
    }

    &-copy {
      order: 3;
    }
  }
}
